<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel = "stylesheet" href = "css/cws.css"/>
    <title>Product Catalog</title>
  </head>
  <body style="background-color:whitesmoke;">

    <%@ page import = "java.sql.Connection,
		java.sql.DriverManager,
		java.sql.ResultSet,
		java.sql.SQLException,
		java.sql.Statement"
	%>

    	<h1 align = "center"> WELCOME BACK, <%= request.getAttribute("session") %></h1>

    <!--Navigation Bar-->
    <nav id = "nav">
      <ul>
        <li> <a href ="Home.html"> ePLDT CWS </a></li>
        <li> <a href ="CostWorksheet.html"> Cost Worksheet </a></li>
        <li> <a href ="#proposalSummary"> Proposal Summary </a></li>
        <li> <a href ="editproducts.html"> Product Catalog </a></li>
      </ul>
    </nav>

    <br></br>

<form action="newworksheetservlet.html">
    <div style="width: auto; text-align: center;">
  <fieldset id="fieldset-auto-width">
     <legend>Cost Worksheet</legend>
     <p>
        <label>Plan Name</label>
        <select name="planName" id="prodDesc" required>
          <option value = "1">one</option>
          <option value = "2">two</option>
          <option value = "3">three</option>
          <option value = "4">four</option>
        </select>

        <label>Product Category</label>
        <input type="text" name="productCategory" required>
     </p>

     <p>
       <label>Vendor</label>
       <input type="text" name="vendor" required>

       <label>Product Name</label>
       <input type="text" name="productName" required>
     </p>

     <p style="text-align: left;">
       <label>SRP</label>
       <input type="text">
     </p>

     <div style="text-align: right;">
       <a href="#clear" class="clear">Clear</a>
       <a href="#save" class="save">Save</a>
     </div>

  </fieldset>
</div>
    <hr>
    <div class="page" style="overflow-x:auto;">
      <table class="layout display responsive-table">
        <thead>
        <tr>
            <th>Edit</th>
            <th>Product ID</th>
            <th>Plan Name</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Vendor</th>
            <th>SRP</th>
            </tr>

            <%

				try{
					Class.forName("com.mysql.jdbc.Driver");
					Connection conn = DriverManager.getConnection("jdbc:mysql://localhost:3306/cws_db","root","");
					Statement stmt = conn.createStatement();
					ResultSet rs = stmt.executeQuery("SELECT * FROM `products`");

					while(rs.next()){
			%>
    </thead>
    <tbody>

      <tr>
				<td align = "center"><img src="https://img.icons8.com/material-outlined/24/000000/multi-edit.png"></td>
				<td align = "center"><%= rs.getString("ID") %></td>
				<td><%= rs.getString("plan_name") %></td>
				<td><%= rs.getString("product_name") %></td>
				<td><%= rs.getString("product_category") %></td>
				<td><%= rs.getString("vendor") %></td>
				<td><%= rs.getString("srp") %></td>
			</tr>

      <%
					}

				}catch(SQLException sqle){
					System.out.println("SQLException in home.jsp");
					sqle.printStackTrace();

				}

			%>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

    </tbody>

</table>
</div>
</form>

  </body>
</html>
